<div *ngIf="info.token; else loggedOut">

  <agm-map (mapClick)="onChoseLocation($event)" [latitude]="initLat" [longitude]="initLng" [usePanning]="true">
    <agm-marker *ngFor="let spot of savedSpots" [latitude]="spot.lat" [longitude]="spot.lng">
      <agm-circle [latitude]="spot.lat" [longitude]="spot.lng" [radius]="spot.radius">
      </agm-circle>
      <agm-info-window>
        <p><strong>Country:</strong> {{spot.country}}</p>
        <p><strong>Address:</strong> {{spot.address}}</p>
        <p><strong>Population density:</strong> {{spot.populationDensity}}</p>
        <p><strong>Languages:</strong> {{spot.languages}}</p>
        <p><strong>Weather:</strong> {{spot.weather}}</p>
        <p><strong>Currencies:</strong> {{spot.currencies}}</p>
        <a [routerLink]="['/spot', spot.id]" routerLinkActive="active">View info...</a>
      </agm-info-window>
    </agm-marker>
  </agm-map>



  <div class="user-input mt-2">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Lng</span>
      </div>
      <input type="text" class="form-control" placeholder="eg. 27.56667" aria-label="Lng"
        aria-describedby="basic-addon1" [(ngModel)]="form.lng" #lng="ngModel">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Lat</span>
      </div>
      <input type="text" class="form-control" placeholder="eg. 53.9" aria-label="Lat" aria-describedby="basic-addon1"
        [(ngModel)]="form.lat" #lat="ngModel">
    </div>
  </div>

  <div *ngIf="errorMessage != null" class="alert alert-danger mt-2 mb-2">
    Error occuried: {{errorMessage}}
  </div>

  <button type="button" class="btn btn-primary float-left" (click)="find()">Find</button>
  <button type="button" class="btn btn-danger float-right" (click)="delete()">Delete all</button>

</div>

<ng-template #loggedOut>
  <div class="alert alert-warning" role="alert">Please login!</div>
</ng-template>